body{
  background: #f2f2f2;
  font-family: sans-serif;
}

.searchBar {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  background: #fff;
  border: 1px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 100%;
  font-size: 14px;
  border-radius: 5px 0 0 5px;
}

.searchTerm:focus {
    outline: none;
}

/* https://stackoverflow.com/questions/22252472/how-can-i-change-the-color-of-an-svg-element */
.searchButton {
  width: 35px;
  background: #fff;
  border: 1px solid #00B4CC;
  border-left: none;
  text-align: center;
  color: black; /* color of the svg element */
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}


.searchButton:focus {
  border: 1px solid #00B4CC;
  background: #00B4CC;
  color: white;
  outline: none;
}

.searchButton:hover {
  border: 1px solid #00B4CC;
  background: #00B4CC;
  color: white;
}

.wrap{
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Fills_and_Strokes */
#SearchRect {
  stroke: currentcolor;
  fill: white;
  stroke-width: 1.5;
}

.searchButton:hover #SearchRect{
  fill: #00B4CC;
}

.searchButton:focus #SearchRect{
    fill: #00B4CC;
}

